.image {
  z-index: 0;
  overflow: hidden;
  margin-block-start: -24px;
  margin-inline-end: -200px;
  margin-inline-start: -120px;

  @media (min-width: 768px) {
    margin-inline-start: 0;
  }
}

.wrapper {
  flex-direction: column-reverse;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  @apply flex
}

.hero {
  margin-block-start: 80px;
  overflow: hidden;
}

.titleContainer {
  width: 100%;
  margin-block-start: 10px;

  @media (min-width: 1024px) {
    max-width: 500px;
    margin-block-start: 60px;
    margin-inline-end: 10px;
  }

  @media (min-width: 1200px) {
    max-width: 500px;
    margin-block-start: 60px;
    margin-inline-end: 80px;
  }
}

.h1 {
  font-size: 64px;
  font-weight: 500;
  margin-block-end: 8px;
  color: var(--secondary);

  @media (max-width: 768px) {
    font-size: 48px;
  }
}

.subtitle {
  color: var(--primary);
  font-family: var(--poppins-font);
  font-size: 32px;
  font-weight: 500;
  margin-block-start: 8px;
  margin-block-end: 16px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.paragraph {
  color: var(--secondary);
  font-family: var(--azeret-font);
  font-size: 1.1em;
  font-weight: 300;
}

.icon {
  display: grid;
  place-items: center;
}
