.root {
  background-color: var(--tertiary);
  width: 300px;

  @apply p-4 rounded-md
}

.bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: -moz-scrollbars-none;
  overflow-x: scroll;
}

.imgCtn {
  position: relative;
  width: 300px;
  height: 200px;
  display: grid;
  place-items: center;
}