@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8F79EB;
  --secondary: #333333;
  --tertiary: #F7F7F7;
  --background: #fcfcfc;
  --font: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: white;
    --tertiary: #202836;
    --background: #111827;
    --font: white;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: var(--poppins-font);
  font-weight: normal;
  line-height: 1;
  color: var(--font);
}

p {
  font-family: var(--poppins-font);
  font-weight: lighter;
  line-height: 1.4;
  color: var(--font);
}

a {
  text-decoration: none;
}
